{% extends 'shop/basic.html' %}

{% block css %}
.col-md-3
          {
          display: inline-block;
          margin-left: -4px;
          }
          .carousel-indicators .active {
          background-color: blue;
            }
          .col-md-3 img{
              width: 88%;
              height: 220px;
          }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: red;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }

          .carousel-control-prev,
          .carousel-control-next{
            top: auto;
            bottom: auto;
            padding-top: 219px;
          }

          .carousel-indicators li{
                position: relative;
                top: 38px;
                background-color: pink;
}
{% endblock %}


{% block body %}
{% load static %}
<div class="container">
    <!--Slideshow starts here -->

{% for product, range, number_of_slides in allProducts %}
    <h2 class="my-4">{{product.0.subcategory}}</h2>
    <div class="row">
<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
      {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">


          {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem;">
              <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.product_id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.description|linebreaks}}</p>
                <h6 >Price: ₹<span id="pricepr{{i.product_id}}">{{i.price}}</span></h6>
                <span id="divpr{{i.product_id}}" class="divpr">
                <button id="pr{{i.product_id}}" class="btn btn-primary cart">Add to Cart</button>
                </span>

               <a href="/shop/products/{{i.product_id}}"><button id="qv{{i.product_id}}" class="btn btn-success">More Details</button> </a>
            </div>
          </div>
        </div>
            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div><div class="carousel-item">
          {% endif %}

          {% endfor %}
      </div>

</div>
</div>

    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
$('.carousel').carousel('pause');
if(localStorage.getItem('cart') == null && localStorage.getItem('accessoryCart') == null){
var cart = new Object();
accessoryCart = new Object();
}
if(localStorage.getItem('accessoryCart') == null){
accessoryCart = new Object();
}
if(localStorage.getItem('cart') != null)
{
updatePopOver()
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}
if(localStorage.getItem('accessoryCart') != null ){
accessoryCart = JSON.parse(localStorage.getItem('accessoryCart'));
for(item in accessoryCart)
{
        console.log("from cart", item)
        document.getElementById(`div${item}`).innerHTML =
        `<button class = "btn btn-primary minus" id = "minus${item}">-</button>
         <span id="value${item}">${cart[item][0]}</span> <button class = "btn btn-primary plus" id = "plus${item}">+</button>`
}
}
localStorage.setItem('cart', JSON.stringify(cart));
localStorage.setItem('accessoryCart', JSON.stringify(accessoryCart));

$('.divpr').on('click', 'button.cart', function(){
var idstr = $(this).attr('id').toString()
console.log(idstr)
if (cart[idstr] !=undefined){
       qty = cart[idstr][0] + 1
}
else {
    qty = 1
    name = document.getElementById(`name${idstr}`).innerHTML
    price = document.getElementById(`price${idstr}`).innerHTML
    cart[idstr] = [qty, name, price]
    accessoryCart[idstr] = [qty, name, price]
    console.log(accessoryCart)
    console.log(cart)
}
localStorage.setItem('cart', JSON.stringify(cart));
localStorage.setItem('accessoryCart', JSON.stringify(accessoryCart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
updateCart(cart)
});
$('#popcart').popover();



function updateCart(cart){
    let total = 0
    for (let item in cart){
        total += cart[item][0]
         if(item in accessoryCart){
        document.getElementById(`div${item}`).innerHTML =
        `<button class = "btn btn-primary minus" id = "minus${item}">-</button>
         <span id="value${item}">${cart[item][0]}</span> <button class = "btn btn-primary plus" id = "plus${item}">+</button>`
    }
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = total
    updatePopOver()
}
$('.divpr').on('click', 'button.minus', function(){
    let pr_id = this.id.slice(5,)
    console.log("from minus", pr_id)
    cart[pr_id][0] -= 1
    cart[pr_id][0] = Math.max(cart[pr_id][0], 0)
    if(cart[pr_id][0] == 0){
        document.getElementById(`div${pr_id}`).innerHTML = `<button id="${pr_id}" class="btn btn-primary cart">Add to Cart</button>`
    }
    document.getElementById(`value${pr_id}`).innerHTML = cart[pr_id][0]
    document.getElementById(`price${pr_id}`).innerHTML = cart[pr_id][2]*cart[pr_id][0]

    updateCart(cart)
})

$('.divpr').on('click', 'button.plus', function(){
    let pr_id = this.id.slice(4,)
    console.log(pr_id)
    cart[pr_id][0] += 1
    document.getElementById(`value${pr_id}`).innerHTML = cart[pr_id][0]
    document.getElementById(`price${pr_id}`).innerHTML = cart[pr_id][2]*cart[pr_id][0]
    updateCart(cart)
})

function updatePopOver(){
    var popStr = "";
    popStr = popStr + "<h5> Items in your shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    popCart = JSON.parse(localStorage.getItem('cart'))

    for (var item in popCart){
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + popCart[item][1] + "... Qty: " + popCart[item][0] + '<br>';
        i = i+1;
    }
    popStr = popStr + `</div> <a href='/shop/checkOut'><button class='btn btn-danger' id='checkout'>Check Out</button></a>
                                                   <button class='btn btn-primary' onclick="clearCart()" id='clearCart'>Clear Cart</button>`
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
}

function clearCart(){
    accessoryCart = JSON.parse(localStorage.getItem('accessoryCart'))
    for (let item in accessoryCart){
        document.getElementById(`div${item}`).innerHTML = `<button id="${item}" class="btn btn-primary cart">Add to Cart</button>`
}
    localStorage.clear()
    cart = {}
    accessoryCart = {}
    updateCart(accessoryCart)
        $('#popcart').popover('hide');
}
</script>
{% endblock %}



