{% extends 'shop/basic.html' %}

{% block css %}
body{
overflow-x: hidden;
}
a:hover{
text-decoration: none;
color: black
}

a{
color: black;
}

.move-left{
position: relative;
right: 276px;
}

.card-img-top{
height: 250px;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

{% endblock %}

{% block body %}
{% load static %}
<div class="row my-5 d-flex justify-content-center align-items-center">
 
  <div class="card" style="width: 50rem; margin-right: 115px;">
  <img src="{%static 'shop/bs.PNG'%}" class="card-img-top" alt="...">
  <div class="card-body" style="padding: 0px;">
  <a href="/shop/bestsellers" class="stretched-link"></a>
  </div>
  </div>
  
  </div>
<div class="row my-5 d-flex justify-content-center align-items-center">
      <div class="col-sm-6">
<div class="card" style="width: 25rem; margin-left: 250px">
  <img src="{%static 'shop/fruits.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center;">Fruits & Vegetables</h1>
      <a href="/shop/fruits" class="stretched-link"> </a>
  </div>
</div>
    </div>
   <div class="col-sm-6 move-left">
 <div class="card" style="width: 25rem; margin-left: 250px">
  <img src="{%static 'shop/snacks.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center;">Snacks & Munchies</h1>
      <a href="/shop/snacks" class="stretched-link"></a>
  </div>
</div>
    </div>

</div>

<div class="row my-5 d-flex justify-content-center align-items-center">
      <div class="col-sm-6">
<div class="card" style="width: 25rem; margin-left: 250px">
  <img src="{%static 'shop/drinks.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center;">Drinks & Beverages</h1>
      <a href="/shop/drinks" class="stretched-link"></a>
  </div>
</div>
    </div>
   <div class="col-sm-6 move-left">
<div class="card" style="width: 25rem; margin-left: 250px">
  <img src="{%static 'shop/staples.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center;">Daily Staples</h1>
      <a href="/shop/staples" class="stretched-link"></a>
  </div>
</div>
   </div>

</div>
{% endblock %}


{% block js %}
<script>
if(localStorage.getItem('cart') != undefined){
    updatePopOver()
   }
  function updatePopOver(){
    var popStr = "";
    popStr = popStr + "<h5> Items in your shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1
    popCart = JSON.parse(localStorage.getItem('cart'))
    total = 0
    for (var item in popCart){
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + popCart[item][1].slice(0,20) + "... Qty: " + popCart[item][0] + '<br>';
        total += popCart[item][0]
        i = i+1;
    }
    popStr = popStr + `</div> <a href='/shop/checkOut'><button class='btn btn-danger' id='checkout'>Check Out</button></a>
                                                   <button class='btn btn-primary' onclick="clearCart()" id='clearCart'>Clear Cart</button>`
    document.getElementById('popcart').setAttribute('data-content', popStr);
    document.getElementById('cart').innerHTML = total;
    $('#popcart').popover('show');
    }

    function clearCart() {
    localStorage.clear();
    cart = {};
    updatePopOver()
        $('#popcart').popover('hide');
}

</script>
{% endblock %}