{% extends 'shop/basic.html' %}
{% block title%} Track Your Order{% endblock %}

{% block css %}
.move-left{
    margin-right: 32px;
}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Grocery Store Tracker - Track your Order here </h2>
        <form action="/shop/tracker/" method="post" id="tracker" class="my-3">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="orderId">Order Id</label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Enter Order Id">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                </div>
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
        </form>
    </div>
    <div class="col my-4">
        <h2 class="OrderStatusHeading"></h2>
         <ul class="list-group orders">

         </ul>
    </div>
    <div class="col my-4">
        <h2 class="OrderDetailsHeading"></h2>
         <ul class="list-group orderDetails">

         </ul>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
document.querySelector(".searchProduct").innerHTML = ""
document.querySelector(".cart-button").innerHTML = ""
$('#tracker').submit(function(event) {
    $('.orders').empty();
    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
        .done(function(data) {
            console.log(data)
            data = JSON.parse(data)
            updates = data[0];
             if(JSON.stringify(data) == '{}') {
            	mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
            	$('.orders').append(mystr);
            	document.querySelector(".OrderDetailsHeading").innerHTML = ""
            	document.querySelector(".orderDetails").innerHTML = ""
            	document.querySelector(".OrderStatusHeading").innerHTML = ""
            }
            else {
            document.querySelector(".OrderStatusHeading").innerHTML = "Order Status"
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'] + ( 5.5 * 60 * 60 * 1000 );
                    console.log(time)
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time.slice(0,19)}</span>
                </li>`
                    $('.orders').append(mystr);
                }
                cart = JSON.parse(data[1])
                document.querySelector(".OrderDetailsHeading").innerHTML = "Order Details"
                totalprice = 0
                for(let item in cart){
                    qty = cart[item][0]
                    name = cart[item][1]
                    itemprice = cart[item][2]
        totalprice += itemprice*qty
        listr = ` <li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <div class="justify-content-center">
                    <span class="badge badge-primary badge-pill move-left">₹${itemprice}</span>
                    <span class="badge badge-primary badge-pill">${qty}</span>
                    </div>
                </li>`
                    $('.orderDetails').append(listr)
                }
            }
        });


    event.preventDefault();
});
</script>
{% endblock %}